:root {
  --bg-color: #F9FAFC;
  --border: #EFF2F7;
  --main-color: #FFFFFF;
  --success: #0F6256;
  --danger: #CC4945;
}
.btn {
  height: 40px;
  padding: 0px 15px 0px 15px;
  border-radius: 8px;
}

.btn-success {
  border: 1px solid var(--success);
  background: var(--main-color);
  color: var(--success);
}

.btn-danger {
  border: 1px solid var(--danger);
  background: var(--main-color);
  color: var(--danger);
}

.header {
  grid-column: 0 / 1;
  background: #ffffff;
  grid-row: 1 / 3;
  .logo {
    width: 100%;
    img {
      width: 50%;
      padding: 20%;
    }
  }
  .side_nav {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    div {
      display: flex;
      flex-direction: row;
      // margin-bottom: 15px;
      padding: 20px 7px 7px 50px;
      h3 {
        margin-top: -2px;
        margin-left: 10px;
      }
    }

    .active {
      background-color: #FEEEA7;
      color: var(--success);
    }
  }
}
.user_nav{
  grid-column: 3 / 4;
  grid-row: 1;

  height: 100px;
}

.card {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  background: var(--main-color);

  .card_title {
    display: flex;
    flex-direction: row;
    height: 20px;
    margin-top: 25px;
    padding: 30px 50px 50px 20px;
    background-color: var(--main-color);
    border-bottom: 5px solid var(--border);
    border-left: 5px solid var(--border);
    font-size: 2em
;    h3 {
      margin: 0px;
      margin: -3px 0px 0px 20px;
    }
  }

  .card_content {
    background-color: var(--main-color);
    border-left: 5px solid var(--border);
    padding: 30px;
    .card_header {
      display: flex;
      flex-direction: row;
      h3 {
        margin: 0px;
        margin-right: 10px;
        font-size: 2em;
      }
      div{
        font-size: 0.6em;
        // display: flex;
        // flex-direction: column;
        h3 {
          min-width: 100px;
        }
      }
      .create_card {
        margin-left: auto;
      }
    }

    .card_display {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      .card_image_light{
        display: flex;
        flex-direction: row;
        .layer1{
          z-index: 3;
        }
        
        .layer2, .layer3, .layer4{
          height: 170px;
          width: 200px;
          background-color: var(--main-color);
          box-shadow: 5px 5px 2px 3px var(--border);
          margin-left: auto;
          border-radius: 24px;
          margin-left: -170px;
          margin-top: 0px;
        }
        .layer2 {
          z-index: 2;
        }
        .layer3 {
          z-index: 1;
          // margin-left: px;
          margin-top: -10px;
        }
        .layer4 {
          // margin-left: -145px;
          margin-top: -20px;
        }
      }
      .card_properties {
        margin-top: 10px;
        grid-column: 1 / 3;
        background-color: var(--bg-color);
        border-radius: 24px;
        padding: 25px 25px 0px 25px;
        display: grid;
        grid-template-columns: 1fr 100px;
        .properties_wrapper{
          display: flex;
          flex-direction: column;
          .property {
            display: flex;
            flex-direction: row;
            height: 50px;
            .name {
              width: 40%;
            }
            .balance {
              color: var(--success);
            }
          }
        }
      }
    }

  }
}


.activities {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  border-radius: 24px;
  background-color: var(--main-color);
  margin: 20px 10px;
  padding: 30px;
  .activity_header{
    display: flex;
    flex-direction: row;
    .date_pick{
      margin-left: auto;
      margin-top: 25px;
    }
    .h3 {
      margin: 0px;
    }
  }
  .activities_wrapper {
    display: flex;
    flex-direction: column;

    .activity{
      margin-top: 0px;
      display: flex;
      flex-direction: row;
      padding: 2px;
      .property {
        display: flex;
        flex-direction: row;
        .h3 {
          margin: 0px;
        }
        .name { 
          margin: 10px 0px 0px 15px;
          p {
            margin: 0px;
          }
          p:last-child {
            font-size: 0.8em;
          }
        }
      }
      .value {
        margin-left: auto;
      }
    }
  }
 }
